[2016-04-26 08:50] Nixon1979 opened #1 "TypeError: Cannot read property 'ucrop' of undefined - NativeScript App"
Added the plugin to my project, carried out the modification in Androidmanifest.xml and defined in my js - var imageCropper = require("nativescript-imagecropper");
.. trying to build the app gives out the following error.. Need help here.

java.lang.RuntimeException: Unable to start activity ComponentInfo{org.nativescript.MissingPerson/com.tns.NativeScriptActivity}: com.tns.NativeScriptException:

[2016-04-26 10:05] Nixon1979 commented on #1
add to this got the below error too

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'MissingPerson'.

[2016-04-26 15:16] bthurlow commented on #1
Try v0.0.5 and see if that resolves your problem.  If not, reopen this issue.

[2016-04-26 16:18] Nixon1979 commented on #1
Nope still getting the same error after the update to 0.0.5

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'MissingPerson'.

I cant re-open this issue as you have closed it with rights as repo collaborator.. let me know if you need me to add another issue for the same... Other way could be if you can re-open the issue.

Thanks for taking t

[2016-04-26 16:33] bthurlow commented on #1
That particular error appears to be related to your applications build.gradle specifically the flavorDimensions and the productFlavors settings.

I wasn't able to reproduce that specific error when I was patching the plugin, but I was getting your first error.

Have you tried to run the demo app included with the plugin?

[2016-04-26 16:35] bthurlow commented on #1
I think I found the issue.  Going to apply a patch and bump the version.

[2016-04-26 16:44] Nixon1979 commented on #1
great will wait for it and then jump on to bed...

[2016-04-26 17:12] bthurlow commented on #1
Just pushed 0.0.6 to npm.  Let me know if that works for you.

[2016-04-26 17:14] Nixon1979 commented on #1
Great will check right away

[2016-04-26 17:17] Nixon1979 commented on #1
Sorry got a new error
-----------------------------

Download https://jcenter.bintray.com/com/yalantis/ucrop/1.3.2/ucrop-1.3.2.pom

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'MissingPerson'.

     Searched in the following locations:
         https://jcenter.bintray.com/com/android/support/appcompat-v7/23.2.0/appcompat-v7-23.2.0.pom

[2016-04-26 17:51] bthurlow commented on #1
Sounds like you need to run the Android SDK manager, scroll down to extras, and choose the Android Support Repository and either install or update it.

[2016-04-27 05:06] Nixon1979 commented on #1
For some reason even after the update its giving the same error. Also found that the support library updated it only to 23.1.1 while here the build is requiring 23.2.0

Will check whats missing

[2016-04-27 05:25] Nixon1979 commented on #1
The last one was my issue.. this issue if closed now... will start on the implementation..

Thanks a ton!!!

[2016-04-27 05:25] #1 closed

[2016-04-27 06:02] Nixon1979 commented on #1
I wish there was a place for not just raising issues but also sending out awesome thanks to the creators here on GitHub 👍  It works as a charm now and solved one of my most critical parts of the app. Thanks a lot Brian!!!

[2016-09-13 16:03] dsum27 opened #3 "Setting Options In Nativescript"
Hello, this is a great package. Could you tell me if I can use more options besides the ones listed below in a nativescript set up?

Option | Type   | Description
------ | ------ | ------------------------------------------------
width  | number | The width of the image you would like returned.
height | number | The height of the image you would like returned.

Specifically

- change actionbar col

[2016-09-13 17:41] bthurlow commented on #3
- change actionbar color
 - Not available in current version
- specify save location
 - Saving is up to you to save the returned imagesource object.
- change screen background color
 - Not Available in current version
- return cropbox x, y, width, and height, image x, y, width, and height
 - Not available in current version
- change cropbox aspect ratio
 - There is not a setting for this, however,

[2016-09-13 18:05] dsum27 commented on #3
@bthurlow thank you!

[2016-09-14 15:01] #3 closed

[2016-10-15 00:07] 9thwall opened #4 "Instructions on how to get this working on NativeScript Angular"
Hi!
I was wondering how I can get this working NativeScript Angular.
Are there any special requirements or steps needed?

[2016-11-04 20:23] SamuelGRwebfab commented on #4
I too would like this, it seems to crash my app from the get go on android  with ng2

[2016-12-25 16:04] Hesesses commented on #4
Same here

[2017-01-13 19:21] mounirka opened #5 "Customize activity colors"
Hi, the plugin is working perfectly, i want to ask you if you can add the possibility to customize the color of the view on android, give that UCrop now supports the customization.

Thank you

[2017-01-13 21:03] mounirka commented on #5
For anyone who's asking how to customize the view i'll tell you how i did (android only).
in the file imagecropper.android.js above this line:
`if (_options && _options.width && _options.height) { //line number 78`

Just put this code:
[code]
You can find all the available options [here](https://github.com/Yalantis/uCrop/blob/master/ucrop/src/main/java/com/yalantis/ucrop/UCrop.java)

Then you have

[2017-01-13 21:03] #5 closed

[2017-03-16 08:28] xerotolerant commented on #4
I would like to know as well.

[2017-03-29 05:38] rsaf commented on #4
+1

[2017-04-03 12:48] deneshr commented on #4
+1 @bthurlow
tried
`import * as icModule from "nativescript-imagecropper";`
still no luck
webpack fails with
`var icModule = require("nativescript-imagecropper");`

[2017-05-03 14:23] davecoffin opened #7 "{N} 3.0 support"
Is this plugin compatible?

[2017-05-14 14:51] dvdbrk commented on #7
I don't think so. I always get `{"response":"Error","image":null}`. Shame, such an amazing plugin.

[2017-05-24 20:25] chrispoket99 opened #8 "change color"
Add this to the README:

You can override library colors just specifying colors with the same names in your colors.xml file.
For example:

`
<color name="ucrop_color_toolbar">#000000</color>
`

will make toolbar color black if specified inside you application colors.xml file.

[2017-06-13 12:10] Ericky14 opened #9 "Cropped Image Dimensions"
Is there any way to enforce the cropped image comes out with a certain dimension even if scaled?

[2017-06-13 17:19] moritzvieli commented on #7
Yes, it works.

[2017-06-13 18:22] SamuelGRwebfab commented on #7
@moritzvieli any chance you could post an example? I have not been able to get it to work at all (trying to use the camera plugin then crop that img)

[2017-06-13 18:24] SamuelGRwebfab commented on #4
no update?

[2017-06-13 18:30] moritzvieli commented on #7
@SamuelGRwebfab of course. We're using Angular:
`import * as camera from 'nativescript-camera';
import {ImageCropper} from 'nativescript-imagecropper';

camera.takePicture()
.then((picture) => {
  let cropper = new ImageCropper();

  cropper.show(picture, { height: 800, width: 800 }).then((args) => {
    if (args.image !== null) {
      return args.image.toBase64String('jpeg');
    }
    return pi

[2017-06-13 18:37] SamuelGRwebfab commented on #7
@moritzvieli

Are you sure about that code? its throwing an error saying the image is null

[2017-06-13 18:44] moritzvieli commented on #7
Hmm... quite sure. We have some providers and wrappers around this code, but it should basically work like this. Do you have the camera permissions? Where is the error thrown exactly?

[2017-06-13 18:45] SamuelGRwebfab commented on #7
I added a .catch because it didnt seem to be working, so that is where the error is throwing. otherwise the code is exactly like you have above.

[2017-06-13 18:50] SamuelGRwebfab commented on #7
I did actually have to change a fewthings,  `return picture.toBase64String('jpeg');` throws an error and so does `import {ImageCropper} from 'nativescript-imagecropper';`

[2017-06-13 20:12] SamuelGRwebfab commented on #7
@moritzvieli so it works if i use the img selector plugin, but not the camera. maybe you are using an old version that sends different img data?

[2017-06-13 20:14] SamuelGRwebfab commented on #7
for those wondering how to get this right, i figured it out. after yo utake the picture send the results to this function
`public cropImg = (src) => {
        console.log('lets crop')
        if (this.app.android) {
            var img = imageSource.fromFile(src.android);
        } else {
            var img = imageSource.fromFile(src.ios);
        }

        console.dir(img)
        var cropper =

[2017-06-15 04:26] slasho opened #10 "older versions"
How can I run this plugin in

nativescript: 2.5.4
tns-core-modules: 2.5.2

thanks in advance.

[2017-06-16 19:22] slasho opened #11 "can I use this plugin in a standar vanilla nativescript project?"
I'm trying to make it work but I'm getting this (following the demo)

[code]

using:

[code]

[2017-06-26 20:02] davecoffin opened #12 "breaks android build"
I get this error now when trying to build for android:

[code]

Any idea why? Heres what i am running for versions:

[code]

[2017-07-12 12:57] dvdbrk opened #13 "How to use with webpack?"
So there is this open Pull request that apparently fixes the webpack support.
Any ideas how can I get it working at least locally?

At the moment, the error is:

`ERROR in ./src/test/test.service.ts`
`Module not found: Error: Can't resolve 'nativescript-imagecropper' in 'C:\test\app\src\test'` ...

[2017-07-12 13:19] #13 closed

[2017-07-17 12:23] SandipFichadiya opened #14 "nativescript-imagecropper in NativeScript 3.0"
Hi,
nativescript-imagecropper Plugin is not working in Nativescript 3.0.3 Version.
It gives me undefined error in catch clause.
Is there another way to implement nativescript-imagecropper Plugin for Nativescript 3.0.3 Version?

[2017-07-19 05:37] moritzvieli opened #15 "Webpack Compatibility"
This plugin does not work with webpack. The issue is described here:
https://github.com/NativeScript/nativescript-dev-webpack/issues/8

-> As a workaround, we removed "use strict" and the __export in the beginning manually.

[2017-10-12 02:14] rsaf commented on #15
I'm having the same error related to the nativescript-imagecropper module (version: 0.0.7), while building with webpack and aot.  [https://github.com/NativeScript/nativescript-dev-webpack/issues/16 ](https://github.com/NativeScript/nativescript-dev-webpack/issues/16 )
When I comment out all imagecroppring code in my app, and delete the platform folder, the error goes away.

Any fix for this?

Also

[2017-10-19 17:47] bthurlow commented on #15
Sell pull#6

[2017-10-19 17:47] #15 closed

[2017-10-19 22:44] shiv19 commented on #14
Support has been added now :)
download plugin version 0.1.0

[2017-10-19 22:44] #14 closed

[2017-10-19 22:48] shiv19 commented on #12
Please try the latest version, 0.1.0
It should work fine.

[2017-10-19 22:48] shiv19 commented on #10
You might want to try a version of the plugin older than 0.1.0

[2017-10-19 22:49] shiv19 commented on #9
Yes, it is now possible. Try the version 0.1.0

[2017-10-19 22:49] #9 closed

[2017-10-19 22:49] shiv19 commented on #7
Support for NS 3.3 added with today's release of version 0.1.0 :)

[2017-10-19 22:49] #7 closed

[2017-10-19 22:50] shiv19 commented on #8
Adding right away!, thanks for pointing it out.

[2017-10-19 22:51] #8 closed

[2017-10-19 22:52] shiv19 commented on #4
Can you try the latest release 0.1.0, and let me know if you are facing any problem integrating it with angular?

[2017-10-19 22:53] shiv19 commented on #11
The latest release 0.1.0, has fixed this issue.
Make sure to pass imageSource to the plugin and not imageAsset. Check the demo folder to see how to do it right.

[2017-10-19 22:53] #11 closed

[2017-10-20 04:28] rsaf commented on #4
It's seems to be working now. Thank you!

On Fri, Oct 20, 2017 at 6:52 AM, Shiva Prasad K <notifications@github.com>
wrote:

--
*Rolland Safort Ntague*
*email: rollandsafort@gmail.com <rollandsafort@gmail.com>*

[2017-10-20 05:12] shiv19 commented on #4
Awesome! :D enjoy!

[2017-10-20 05:12] #4 closed

[2017-11-05 16:03] shabib3 opened #16 "Build issue for android - transformClassesWithDexForF0F1F2F3F4F5F6F7F8F9Debug"
Hey after install the plugin and write code to use its functionality I tried to build my project and this is build error:
[code]

### Which platform(s) does your issue occur on?
- Android (Didn't check on IOS)
- API 25
- emulator

### Please, provide the following version numbers that your issue occurs with:

- CLI: 3.3.0
- Cross-platform modules: 3.3.0
- Runtime(s): tns-android - 3.4.0-2017-10-31

[2017-11-05 19:57] shiv19 commented on #16
Hi @shabib3
Please enable multidex support in your app.
To do this,
Open app.gradle file in App_Resources/android folder

Inside the defaultConfig area, set `multiDexEnabled true`
[code]
Like this ☝️

[2017-11-05 19:57] #12 closed

[2017-11-05 19:57] #10 closed

[2017-11-05 19:58] #16 closed

[2017-11-16 06:08] SugumarParthi opened #17 "naticescript-imagecropper not working"
# **This is my code:**
camera.takePicture({width:300,height:300,keepAspectRatio:true})
.then((imageAsset) => {
let source = new imageSource.ImageSource();
source.fromAsset(imageAsset).then((imageSource1) => {
var imageCropper = new icModule.ImageCropper();
imageCropper.show(imageSource1).then((args) => {
console.dir(args);
if(args.image !== null){
imageView.src = args.image;
}
})
.catch(function(e

[2017-11-16 10:48] shiv19 commented on #17
@SugumarParthi
Please change this part
`imageCropper.show(imageSource1)`
to this
`imageCropper.show(imageSource1,{lockSquare: false})`

[2017-11-16 10:48] #17 closed

[2017-12-08 14:18] alexandruantonica opened #18 "Feature : Rounded mask"
Hi @bthurlow

Thanks for your plugin. It's awesome.
I'd like to ask you if there is any way to make the mask of the cropper to be rounded. I want the image to be saved as a square but the mask to be rounded.

Do you think this could be possible on both platforms?

Thanks in advance.

[2017-12-10 18:26] shiv19 commented on #18
Hi @alexandruantonica
I can see that uCrop allows rounded mask
https://github.com/Yalantis/uCrop
your feature request will be considered

[2018-01-15 18:34] vasyliv opened #20 "can't run demo"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android versions
- device. What type of device **xiaomi redmi note 4x**?

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `

[2018-01-15 20:02] shiv19 commented on #20
@vasyliv
That is not how you run the demo.

Clone the repo
Open src folder

Run,
`npm run demo.android`

[2018-01-15 20:02] #20 closed

[2018-01-31 18:06] odnamrataizem opened #22 "Native libraries are outdated"
The native libraries this plugin uses, both Android and iOS, are quite outdated: uCrop is at 2.2.1 (the plugin is using 1.5.0), and TOCropViewController is at 2.3.6 (the plugin is using 1.3.3).

I've run into some issues on both Android and iOS, and because they are specifically *UI* issues, I'm 100% sure they come from the native libraries rather than the plugin itself. Upgrading them, therefore,

[2018-02-21 14:19] apopiidoru opened #23 "Application crashes on iOS when the phone is rotated to the left."
The problem occurs only for iPhones devices:
- iPhone X, iOS 11.2.5
- iPhone 6, iOS 11.2.5
- iPhone 5, iOS 11.2.5

Steps to reproduce (In the test app that I've attached):
1. Click the take photo button
2. Rotate the device to the left.
3. Take picture.
3. Click Ok

The imagecropper screen will not show, the app will freeze and after and after that it crashes.

│ Component            │ Current ver

[2018-03-05 04:12] yclau opened #24 "Always null in UCrop;"
### Which platform(s) does your issue occur on?
Android

### Please, provide the following version numbers that your issue occurs with:

[code]
In version 0.1.2 or 0.1.0 also null;
`var UCrop = com.yalantis.ucrop.UCrop;`

Isn't need add jar or aar file into folder?
And I try follow your step installation --> https://i.imgur.com/RdgN8Eu.png , but also get null.

[2018-03-05 05:34] shiv19 commented on #24
Did you try doing
tns platform remove android
then
tns run android

[2018-03-05 06:07] yclau commented on #24
Thank you advise, after remove platform and build then can work smoothly

[2018-03-16 15:25] bachras opened #25 "Cropper doesn't return anything if image loaded from file"
Hi,

Thank you for brilliant plugin. I tried demo app it works fine. After I tried with image picker plugin https://github.com/NativeScript/nativescript-imagepicker  and it worked perfectly fine as well (here is working example):

[code]

But when I tried to implement with media file picker plugin https://github.com/jibon57/nativescript-mediafilepicker, I am having issues. Image is displayed in th

[2018-04-30 09:16] ogmedia commented on #16
I seem to be having a similar issue, it seems related. Removing the plugin resolves the issue, but it works without any problems in iOS.
`* What went wrong:
Could not resolve all files for configuration ':app:debugCompileClasspath'.

  Searched in the following locations:`

I added multiDexEnabled to my app.gradle file, but still getting the error.

`  "dependencies": {
    "nativescript-bitmap-fa

[2018-05-01 08:55] shiv19 commented on #25
Hi @bachras
I use nativescript-imagepicker for picking files from gallery. That works fine. I'm using it in conjunction with nativescript-imagecropper. Have no issues so far.

[2018-05-01 10:51] shabib3 commented on #16
@shiv19 @bthurlow -
@ogmedia is right...There is any idea for solution here?

[2018-05-01 11:00] shiv19 commented on #16
@DickSmith
do you know what is going wrong here?

[2018-05-01 11:03] shabib3 commented on #16
@DickSmith -
I think it relates to `nativescript-imagepicker` version 6.0.1

[2018-05-01 19:52] DickSmith commented on #16
@shiv19 Yeah, they made a change on `tns-android@4.0.1` I'll send a PR.

[2018-05-02 08:26] shiv19 commented on #22
@odnamrataizem Please use the latest version 1.0.1

[2018-05-02 08:26] #22 closed

[2018-05-02 09:40] bachras commented on #25
@shiv19  thanks for reply. Could you share code snippet with versions of plugins? As the above code doesn't work for me. Thnak you

[2018-05-17 16:42] Ablankzin opened #30 "Problem with multidex in release build(Android)"
Hello, I'm having a problem while doing the build release of my application. The problem is in choosing the multidex version. It is looking for the SDK version. So when it goes through the multidex it looks for version 26 (For example), and the version that exists is 1.0.0.

### Which platform(s) does your issue occur on?
- Android(Release signed with --release)
Command: tns build android --bundle

[2018-06-01 07:09] momoling opened #33 "Failed to build plugin nativescript-imagecropper"
Unable to apply changes on device: 79BMADR7QZD25. Error is: Failed to build plugin nativescript-imagecropper :
Error: Command gradlew.bat failed with exit code 1 Error output:
C:\Users\Administrator.gradle\caches\transforms-1\files-1.1\ucrop-2.2.2-native.aar\bfa85db65d82ba41411e23f89fa6657f\res\values\values.xml:72:5-77:13: AAPT: resource attr/selectableItemBackground (aka org.nativescript.natives

[2018-06-06 09:06] EvenHus commented on #33
Any update's on this one?

[2018-06-11 15:05] JPM84 commented on #33
This is a blocker for updating our project to {N}4 on android devices.

[2018-06-17 15:16] shiv19 commented on #33
I am still using `"nativescript-imagecropper": "^0.1.2"` <- this version.
working fine with {N} 4.0

[2018-06-21 14:55] simano65 commented on #33
Version: "^0.1.2" cause problem with iOs

[2018-06-22 13:43] AradhanaR commented on #33
I am facing the same issue, with latest version build is getting failed with following error :

Error: Command gradlew.bat failed with exit code 1 Error output:

And with nativescript-imagecropper": "^0.1.2  not working for iOS.

[2018-06-23 10:07] xnramx commented on #33
I have the same issue. In iOS the crop does not work with the version 0.1.2. And the new one does not compile in Android. Is there any solution?

[2018-06-25 10:23] shiv19 commented on #33
Issue resolved.
Please update to v1.0.3

[2018-06-25 10:23] #33 closed

[2018-06-25 10:44] shiv19 commented on #30
Please update to v1.0.4
Issue resolved

[2018-06-25 10:44] #30 closed

[2018-06-25 10:45] #24 closed

[2018-06-25 17:26] frey1esm opened #34 "The iOS Demo crashes with error: `Can't find variable: android`"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- iOS/Android/Both
**iOS**

- iOS/Android version

[2018-06-25 18:11] shiv19 commented on #34
@frey1esm Issue resolved :)
Thanks for letting us know

[2018-06-25 18:11] #34 closed

[2018-06-25 18:45] Tompote commented on #33
Hi ! I tried v1.0.4 with NS 4.1 (deleted node_modules/hook/platforms) and it doesn't seem to pass gradle build.
I get this error:

Gradle build...
         + setting applicationId
         + applying user-defined configuration from /home/thomas/KazakorseFrontend/nativescript/app/App_Resources/Android/app.gradle
         + adding nativescript runtime package dependency: nativescript-optimized-with-

[2018-06-25 18:53] shiv19 commented on #33
@Tompote
Looks like you haven't enabled multidex
open app/App_Resources/Android/app.gradle

in there,
inside
[code]
add `multiDexEnabled true`

[2018-06-25 18:59] Tompote commented on #33
Well that was a fast answer :). Works great ! Thanks a lot !

[2018-06-27 01:53] momoling commented on #33
@shiv19 thank you

[2018-06-28 09:58] shiv19 commented on #25
@bachras Snippet for working with imagepicker plugin?
there `selected.getImage()` has changed to `selected.getImageAync()`
[code]

[2018-06-28 09:58] #25 closed

[2018-07-09 20:28] shabib3 commented on #30
@DickSmith @shiv19 - KINGS! Thanks a lot!!

[2018-08-22 09:10] psrcek opened #35 "Image cropping does not work - { "response": "Error", "image": null }"
### Which platform(s) does your issue occur on?
- Android, idk about iOS (can't test)
- Emulator and physical device

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it)
[code]
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/package.json` file in your project)
[code]
- Runtime(s): (l

[2018-08-22 09:32] psrcek opened #36 "Cannot run demo: String index out of range: -1"
### Which platform(s) does your issue occur on?
- Android
- Emulator and physical device

### Please, provide the following version numbers that your issue occurs with:

- CLI: (run `tns --version` to fetch it)
[code]
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-modules/package.json` file in your project) same as repo demo project
- Runtime(s): (look for t

[2018-08-27 15:16] nipunkr commented on #35
I am also facing the same issue on android.

[2018-08-28 08:11] psrcek commented on #35
It somehow fixed itself by updating nativescript.
Follow this to fix it: https://docs.nativescript.org/releases/upgrade-instructions

[2018-08-28 08:11] #35 closed

[2018-08-28 20:02] cremfert commented on #36
Same here, did you find a solution?

[2018-09-04 12:05] RoyiNamir commented on #35
BTW we also had it , and platform /remove/add helped ( we didnt update nothing ).

[2018-09-18 10:32] goodgood-study opened #38 "can you please tell me how to use the cancel"
i want to konw if i don‘t want to save the change of the picture , i press the cancel,and i want to write some
code for the cancel,  how i need to do,can you show me?

[2018-09-18 10:37] shiv19 commented on #38
When user cancels the action, the promise is rejected. Just handle it there

[2018-09-18 11:02] jiangzhuofan commented on #38
but i use it with a image-picker,the function like that i use image-picker to select the picture as my Chat Heads ,and the image-cropper to change the chat heads size. but the problem is that  i choose the new picture,but i want to do anything,i press cancel.  as a result it will be use the old picture but actually it use the new one.so i want to know how to do some codeing with the cancel functio

[2018-09-18 11:12] shiv19 commented on #38
Can you check if the code inside the catch block executes when you cancel the operation?

[2018-09-18 11:28] shiv19 commented on #38
No, all your code for success flow should be in then block, and code for failure flow in catch block.
Make sure you're not doing anything outside of it

[2018-09-18 13:35] jiangzhuofan commented on #38
I want to find how to make some code inside the method of cancel...but I don't know how to do，can you tell me

[2018-09-19 09:20] jiangzhuofan commented on #38
Hello,Shiva,do you have a ins or a facebook.Can i Follow your account.

[2018-09-19 09:44] shiv19 commented on #38
All my social links are listed in the footer of my website. shiv19.com

[2018-09-25 09:21] marojusantosh opened #39 "Nativescript-imagecropper throwing "image null" and "response error" in show() method"
Hi
imageCropper.show method directly hits catch block and throws following error in the console:
JS: ==== object dump start ====
JS: response: “Error”
JS: image: “null”
JS: ==== object dump end ====

I have searched for the similar issue in the forum but it seems no one has posted yet.
I have taken the snippet from the npmjs document :

camera.takePicture({width:500,height:500,keepAspectRatio:true

[2018-09-26 06:34] marojusantosh commented on #39
com.yalantis.ucrop.UCrop is always undefined in imagecropper.android.js

[2018-09-26 06:38] shiv19 commented on #39
That means, you have to do
tns platform remove android

Then do
tns run android

[2018-09-26 06:57] marojusantosh commented on #39
Great! That worked. Thank You:-)

[2018-09-26 07:12] #39 closed

[2018-10-09 18:07] tomcatmwi opened #40 "Images taken in landscape mode are saved in wrong aspect ratio"
- CLI: 4.2.2
- Cross-platform modules: 4.2.1
- Runtime(s): 4.2.0
- Plugin(s):

[code]

**Steps to reproduce:**

1. Take a picture in landscape on iOS.
2. Pass it to imagecropper. It will appear in the correct aspect ratio, but either rotated by 90 degrees or overflowing the edge of the screen (depending on how you passed it)
3. Crop it and save.
4. The image will be correctly cropped, but the aspe

[2018-10-11 10:04] phacic commented on #33
The issue is still present in tns 4.2 and nativescript-imagecropper 1.0.4

FAILURE: Build failed with an exception.
What went wrong:
Execution failed for task ':verifyReleaseResources'

[2018-10-22 08:32] borjasanchez-bitcode opened #41 "Failed to build plugin nativescript-imagecropper ns 4.2 and 1.0.4 nativescript-imagecropper"
I have a problem that closed because I can not find the solution. I am using nativescript 4.2 and nativescript-imagecropper 1.0.4.

FAILURE: Build failed with an exception.
What went wrong:
Execution failed for task ':verifyReleaseResources'

Build failed with an exception.

![error](https://user-images.githubusercontent.com/37413118/47411332-a6371b00-d768-11e8-9bee-999a6a219ca0.png)

Please help.

[2018-10-22 08:49] shiv19 commented on #33
I've been unable to reproduce this issue. @phacic
Can you provide a demo project to reproduce this issue?

[2018-10-22 09:44] borjasanchez-bitcode commented on #33
I have the same problem as @phacic, here you can see the error and an application created from scratch with nativescript 4.2 and nativescript-imagecropper 1.0.4 and that gives the error.

Error link: https://ibb.co/dwVMD0
Application example link:  https://we.tl/t-9AjqpsNR1v

Please help.

[2018-10-29 15:14] LSmint opened #42 "IOS - Lock square image failed when undo icon clicked"
Initially, the cropper size lock square aspect ratio on iOS, when try to click right rotate icon and then click undo icon, it no longer lock to square.

<img width="373" alt="screenshot 2018-10-29 at 11 13 51 pm" src="https://user-images.githubusercontent.com/35618399/47659626-51642c00-dbd0-11e8-9617-6b9d36271a46.png">

[2018-10-29 15:32] LSmint commented on #42
Can include `viewController_1.resetAspectRatioEnabled = false;` if lockSquare is enabled.

[2018-10-29 15:43] shiv19 commented on #42
@LSmint
Can you make a PR for this please

[2018-10-29 16:13] LSmint commented on #42
@shiv19
Im sorry just noticed that this issue already fix in the release version. I will close the case.

[2018-10-29 16:13] #42 closed

[2018-10-30 12:11] borjasanchez-bitcode commented on #41
The problem is the gradle version, with version 4.6 it does not work, but with version 4.4 it works

[2018-10-30 12:13] samuelgonzalez1987 commented on #41
OK borjasanchez, we will use 4.4 version. Thanks

[2018-10-30 14:50] borjasanchez-bitcode commented on #33
I found a solution,
The problem is the gradle version, with version 4.6 it does not work, but with version 4.4 it works

[2018-10-30 21:58] phacic commented on #33
From the android studio my gradle build is 4.4

[2018-12-27 22:58] benlind opened #43 "Can't find variable: TOCropViewControllerDelegate"
- Platform: iOS (only platform I tested)
- CLI: 5.1.0
- Cross-platform modules: 5.1.1
- Runtime(s):
  - tns-android: 5.1.0
  - tns-ios: 5.1.0
- Plugin(s):

[code]

## Reproduction

When I import `nativescript-imagecropper` with the app described below and then run `tns preview --bundle`, the app crashes with this stack trace:

[code]

The problem seems to be with the `TOCropViewControllerDelegate`

[2019-02-07 14:17] ahmed-derbala opened #45 "How to use this plugin !"
nativescript version 5.1

please I cant find how to use this plugin !

it just takes photos, I cant see any way to crop taken photos !!!!

[2019-03-14 02:11] #38 closed

[2019-03-14 02:12] shiv19 commented on #43
@benlind Since this plugin depends on native libraries, you can't use it with `tns preview`

[2019-03-15 16:03] bbarne8 opened #46 "Orientation/Rotate Issues and Warnings"
I am getting a few warnings when running an IOS build with NativeScript. The main issue is that changes in orientation are not being handled correctly. When rotating the phone, I can see that the orientation change event is registering and correctly recognizes the new orientation but the view does not adjust appropriately.

My guess is that this behavior is related to the warnings generated below.

[2019-03-15 16:03] bbarne8 commented on #46
This plugin is using the TOCropViewController v2.3.6. If I update the podfile to user v2.4.0, I no longer receive these warnings.

[2019-03-18 02:08] shiv19 commented on #46
@bbarne8 Thanks for the update. I'll release a new version of the plugin with the updated pod file

[2019-03-18 02:09] #43 closed

[2019-03-18 02:09] #41 closed

[2019-03-18 02:13] shiv19 commented on #46
@bbarne8 Thanks, published as v1.0.5

[2019-03-18 02:13] #46 closed

[2019-04-01 16:44] lord-zeus opened #47 "set the Square from the start"
is there a way to set the square to be the initial dimension for android ?

[2019-04-01 18:26] #47 closed

[2019-04-27 07:57] info170 opened #48 "How to crop in auto mode?"
I use this plugin and it works well. But I need to crop image in auto mode - without interface.
Can you add function or method to crop image to neccessary dimentions without any interface?
For example: imagCropper.crop(imageSource, { resultWidth, resultHeight })
or more flexible: imagCropper.crop(imageSource, { startX, startY, resultWidth, resultHeight })

[2019-05-23 19:19] JWiseCoder commented on #40
+1 on this.

When I try to use a landscape image in iOS, it appears warped in the cropper, almost as if the height and width have been swapped.  Its like the dimensions have been rotated but the pixels have not.  Could it possibly have something to do with not taking account for `imageOrientation` of `UIImage`?

[2019-05-28 13:41] JWiseCoder opened #49 "Crashes on Android when Activity Closes"
Whenever the cropper finishes on Android, it returns everything properly.  However, when the cropper activity closes, it causes the entire app to crash without any visible error.  I've dug through the device logs, but the only thing I could see was something like `InputDispatcher: Attempted to unregister already unregistered input channel`

Is it possible I'm doing something wrong?  Or is this a b

[2019-05-28 19:47] shiv19 commented on #49
Just run the things inside your .then block in a setTimeout @JWiseCoder

[2019-05-29 13:59] JWiseCoder commented on #49
It still crashes without writing out an error

[2019-06-10 13:47] JWiseCoder commented on #49
I still haven't found any way to keep it from crashing.  It has something to do with how the Activity is being closed.

[2019-06-17 18:20] sanved77 commented on #45
The demo code explains everything that is needed for this. Please read through the docs once.

[2019-06-17 18:40] sanved77 opened #50 "IllegalStateException: Theme.AppCompat"
IllegalStateException: You need to use a Theme.AppCompat theme (or descendant) with this activity.

### Which platform(s) does your issue occur on?
Android
- emulator or device. What type of device?
Emulators, OnePlus 6, OnePlus 7

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.4.1
- Cross-platform modules: 1.0.5
- Runtime(s): Both (5.3.1)
- Plugin(s):
  "

[2019-06-18 18:37] #50 closed

[2019-06-18 18:37] sanved77 commented on #50
Turns out, the android:theme wasn't set in the manifest. My bad. Should've conversed with my team members.

[2019-06-25 07:51] jannomeister opened #51 "Not working on a modal view"
I'm using nativescript-angular and when I use the image cropper inside a modal view its not working at all. But when I call it on a page it works as expected. I don't know if im doing it right. But i really need this feature on my app :(

[2019-06-25 07:52] shiv19 commented on #51
@jannomeister can you share the snippet of how you are trying to call this plugin from your modal page please?

[2019-06-25 08:04] jannomeister commented on #51
[code]

[2019-06-26 02:12] jannomeister commented on #51
@shiv19 I don't know if I made a mistake

[2019-06-26 02:24] shiv19 commented on #51
@jannomeister
Can you test if the changes in #44 fixes this?

[2019-06-26 03:05] jannomeister commented on #51
@shiv19 I'm gonna reinstall the plugin to test those changes?

[2019-06-26 03:18] jannomeister commented on #51
@shiv19 Oh it's still not yet merge. But I think that is the solution for this issue.

[2019-06-26 03:21] shiv19 commented on #51
No, you could make those changes in `node_modules/nativescript-imagecropper/nativescript-imagecropper.ios.js` and let me know if it works

[2019-06-26 03:40] jannomeister commented on #51
I did try but it doesn't fixed the problem.

<img width="894" alt="Screen Shot 2019-06-26 at 11 39 30 AM" src="https://user-images.githubusercontent.com/46916819/60149384-18d02d00-9807-11e9-9520-aeaafd98c5d4.png">

[2019-06-26 03:55] shiv19 commented on #51
Can you try
var page = frame.topmost().currentPage.ios.controller

[2019-06-26 04:34] jannomeister commented on #51
@shiv19 it's causing an error saying...

[code]

[2019-06-26 04:40] shiv19 commented on #51
Ok i'll try something tonight

[2019-06-26 04:41] jannomeister commented on #51
@shiv19 thank you so much!

[2019-06-28 09:18] jannomeister commented on #51
@shiv19 is there any update of this issue? :(

[2019-07-01 06:51] glober-trotter commented on #51
also experiencing this one. I can't proceed with my project im working on.

[2019-07-01 06:52] glober-trotter commented on #51
@shiv19 here is a sample app. I badly need this feature for my app to work. :(

[imageCropperIssue.zip](https://github.com/bthurlow/nativescript-imagecropper/files/3344226/imageCropperIssue.zip)

[2019-07-01 06:53] shiv19 commented on #51
Thanks for the sample app.
That helps

[2019-07-01 07:16] glober-trotter commented on #51
@shiv19  sure, no problem. because I badly needed imagecropper on my project im working on right now. :( I can't find any workaround on this one.

[2019-07-01 16:15] mailiam commented on #51
@glober-trotter after quick investigation below is the root of the problem

1. `takePicture()` resolves image and then dismisses itself
2. `imageCropper.show()` start of from `NaviagionController` and look through not yet dismissed `UIImagePickerController`(simulator) with patch from PR #44
3. `UIImagePickerController` modal dismisses itself and cropper all together

(I was using `nativescript-ima

[2019-07-01 16:37] jelledijkstra97 opened #52 "Button text change"
Is there any way to alter the text on the buttons inside the cropper? I would like to give the "Done" and "Cancel" buttons some other text.

[2019-07-02 01:39] glober-trotter commented on #51
@mailiam thank you so much for this one. i'll wait for the result for your experiment.

[2019-07-02 06:51] mailiam commented on #51
I came up with workaround to check if vc is being dismissed,

Not quite sure if this will work on other cases..

@glober-trotter @jannomeister could you please try if this resolves your issue?

js equivalent follows:
[code]

[2019-07-02 08:55] glober-trotter commented on #51
@mailiam thank you so much! it worked!

[2019-07-02 08:56] glober-trotter commented on #51
hoping @shiv19 checks and approve those changes. Thank you so much guys!

[2019-07-02 08:56] shiv19 commented on #51
@mailiam excellent!
Can you please make a PR for this :)

[2019-07-02 09:11] jannomeister commented on #51
@mailiam Thank you so much! @shiv19 i'll just wait for it to be included on the next release of this plugin :) thanks guys

[2019-07-02 09:14] shiv19 commented on #51
@jannomeister
this was released as `nativescript-imagecropper@1.0.6`

[2019-07-04 15:25] panagulis72 commented on #51
I still have this issue!

[2019-07-04 22:02] shiv19 commented on #51
@panagulis72 Can you provide more details on this to @mailiam, because he worked on this.

[2019-07-11 09:16] panagulis72 commented on #51
I tried to install it again, and the error is changed!
This is my code:

but I get this error:

JS:     android.view.ViewRootImpl.setView(ViewRootImpl.java:788)
JS:     android.view.WindowManagerGlobal.addView(WindowManagerGlobal.java:373)
JS:     android.view.WindowManagerImpl.addView(WindowManagerImpl.java:114)
JS:     android.widget.PopupWindow.invokePopup(PopupWindow.java:1416)
JS:     android

[2019-07-15 20:54] kdagnan commented on #48
I would also love to see this

[2019-07-15 21:00] kdagnan commented on #51
I haven't had a chance to revert back to 1.0.5 and see if that fixes it, but I am now getting "No page available for modal" error in my catch on .show(). I haven't tested my cropping functionality in a while but it was working last I remember, I don't believe I have touched any related components either. Will update when I get a chance to revert. I am running the most recent version of everything

[2019-07-16 03:03] kdagnan commented on #51
Can confirm that reverting to 1.0.5 fixed this issue.

[2019-07-16 03:08] shiv19 commented on #51
@mailiam
I can confirm that @kdagnan is right. 1.0.6 seems to break existing functionality
I had to revert to 1.0.5 in my own app as well
can you check this?

[2019-07-16 04:03] mailiam commented on #51
Ouch I will check it out ASAP!

[2019-07-25 05:49] jannomeister opened #53 "Is this plugin compatible with Android X?"

[2019-07-25 05:52] shiv19 commented on #53
Yes it's good to go. Jit will take care of migrating the native lib.
But with that being said, we could update the native lib to androidx version.
PRs welcome :)

[2019-07-29 01:34] codytooker commented on #51
Same thing here.

[2019-08-14 18:11] kdagnan opened #54 ""No Page Available for Modal" Error on imageCropper.show()"
### Which platform(s) does your issue occur on?
- iOS 12 (Physical Device)

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.0.3
- Cross-platform modules: 6.0.6
- Runtime(s): 6.0.1
- Plugin(s):
![image](https://user-images.githubusercontent.com/44090970/63044744-dfc64780-be9c-11e9-824e-154820fdbe23.png)

I am calling the function after I receive an image fro

[2019-08-14 19:07] shiv19 commented on #54
Can you please pin your image cropper version to 1.0.5

1.0.6 doesn't work on iOS I'm going to unpublish it today

[2019-08-14 19:49] kdagnan commented on #54
@shiv19 works on 1.0.5, thank you!

[2019-08-14 19:49] #54 closed

[2019-08-18 17:53] mspusta78 commented on #51
Is there an update on this?

I tried to use this plugin and the following message
No page available for modal

shows up for non-modal pages as well

[2019-08-18 18:00] kdagnan commented on #51
@mspusta78 If you are using a modal, use 1.0.6. If you are calling it from a regular page, use 1.0.5. No one has had a chance to fix it yet, I might try and fork it if I get some time this week unless the author plans on doing it soon.

[2019-08-18 18:31] mspusta78 commented on #51
@kdagnan Thank you for your prompt response. I tested version 1.05 and this version doesn't work either.

I get:
Added closed viewfinder reason PresentedViewController: (PerformingReview, PresentedViewController)

I am using Vanilla JS for {N} 6

[2019-08-19 13:55] mailiam commented on #51
Ok.. a bit overdue..

@panagulis72

above log says its an android issue yet I only changed iOS part. I'm not currently in setup for android development @shiv19 do you have any idea?

@kdagnan and @shiv19
I can confirm that PR #44 should make passthrough condition to revert back to previous implementation when there are "No page available for modal". The new PR to address this is upcoming.

@mspust

[2019-08-20 00:26] mailiam opened #56 "Make test cases to cover different modals and other view scenarios"
Since there are many corner cases around iOS views, we should create test cases to cover various views regarding #54 #51 about ImageCropper modal not correctly popping up.

It would also help to make e2e test as well

This tests are not urgent but should be covered when possible.

In the mean while, please provide example view scenarios that needs to be covered.

[2019-08-22 16:02] JWiseCoder opened #57 "Not working when used with camera plugin"
Plugin version: 1.0.7
NativeScript Version: 6.0.2
OS: iOS

When using the cropping tool with the camera plugin (such as in the example given in the documentation of this plugin), the crop view controller will not appear.  The promise neither is resolved nor rejected.  Nothing happens.

However, if you put a `setTimeout` around the `imageCropper.show` call, the imageCropper will appear after the in

[2019-09-30 22:02] Sartori-RIA opened #58 "Freezing App"
hi, i trying to use this plugin but when image editor is closed the app is freezing for some seconds

my config:

+ NativeScript 6
+ Angular 8
+ Android 9

my source:

[code]

[2019-10-04 12:26] jitendraashutec opened #59 "Not working on iOS 12.2 With Nativescript 6.1.1"
### Which platform(s) does your issue occur on?
- iOS
- iOS 12.2
- error occurred in both emulator or device

### Please, provide the following version numbers that your issue occurs with:

- CLI:  6.1.2
- Runtime(s): 6.1.1
- Plugin(s): nativescript-imagecropper": "1.0.5"

### Please, tell us how to recreate the issue in as much detail as possible.

I have upgraded nativescript 6.1.2. After that i

[2019-10-04 13:01] jitendraashutec opened #60 "Not working on Android API 29 With Nativescript 6.1.1"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
- Android
- Android versions - API 29
- both. emulator and device.

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.1.2
- Runtim

[2019-10-06 20:55] shiv19 commented on #59
can you try it with a setTimeout before calling the cropper?

[2019-10-06 20:56] shiv19 commented on #60
I'm using this cropper on devices running API 28 with no issues,
haven't tried it on 29

[2019-10-07 10:24] jitendraashutec commented on #60
@shiv19  I have checked in API 28 and it is working. but in API 29 I am getting error:

Error: Cannot convert object to Ljava/lang/Throwable; at index 0
JS: Error: Cannot convert object to Ljava/lang/Throwable; at index 0

I think API 29 uses Android X and to support I think you should update  https://github.com/Yalantis/uCrop dependancy.

[2019-10-07 10:26] shiv19 commented on #60
The version of this plugin at npm.proplugins.org already uses the updated Android X lib.
But for this public version, I welcome any incoming PRs (after I reveiw it)

[2019-10-09 09:27] jitendraashutec commented on #60
please review the Pull Request, I have fixed Android X crashing issue.
https://github.com/bthurlow/nativescript-imagecropper/pull/61

[2019-10-20 18:20] tingfong214 commented on #59
Your setTImeout saved my day

[2019-10-21 05:38] jitendraashutec opened #62 "Not working on iOS 13.1.2 With Nativescript 6.1.1"
### Which platform(s) does your issue occur on?
- iOS
- iOS versions : 13.1.2
- I have tested in device

- CLI: 6.1.2
- Runtime(s): 6.1.1
`node_modules/tns-core-modules/package.json` file in your project)
- Plugin(s): nativescript-imagecropper": "2.0.0"

### Please, tell us how to recreate the issue in as much detail as possible.
In ios 13.1.2 when I am capture image from camera then some time ima

[2019-10-23 20:13] shiv19 commented on #62
have you tried using a setTimeout before calling the cropper?

[2019-10-27 22:10] CoooWeee opened #63 "error: attribute android:requestLegacyExternalStorage not found."
### Make sure to check the demo app(s) for sample usage
Just add to project (tns plugin add  nativescript-imagecropper)  and try building. Maybe include it somewhere.

### Which platform(s) does your issue occur on?
- Android
- during build

### Please, provide the following version numbers that your issue occurs with:

- CLI: 6.1.2
- Runtime: "6.1.2"(Android)
- Plugin(s):
"dependencies": {

[2019-10-30 03:24] shiv19 commented on #63
@CoooWeee
Open node_modules/nativescript-imagecropper/platforms/android/AndroidManifest.xml

[code]

^ remove the `android:requestLegacyExternalStorage="true"` part from there. Then run
tns platform clean android
tns run android

let me know if it works for you.

@jitendraashutec
Since you added the `android:requestLegacyExternalStorage="true"` can you help @CoooWeee or anyone else facing issues w

[2019-10-30 21:20] CoooWeee commented on #63
@shiv19 : Builds fine without `android:requestLegacyExternalStorage="true"`

[2019-10-30 21:27] CoooWeee commented on #63
@shiv19 Builds fine without `android:requestLegacyExternalStorage="true"`.
However, if I run `tns build run android` is restores the _AndroidManifest.xml_.

[2019-10-31 11:01] jitendraashutec commented on #62
@shiv19  I have tried it but it is not working. There is also one more issue I found First time image catpure and cropping working but second time image PHOTO button to capture image is not display properly. Half button is hide below the screen in bottom side. This issue occurs after  implement cropper.

[2019-11-01 11:04] Omar-Al-Ashi opened #64 "Plugin throws and error after upgrading tns to 6.1.2"
### Which platform(s) does your issue occur on?
- iOS/Android/Both
- iOS/Android versions
- emulator or device. What type of device?

*The plugin works perfectly on iOS (both emulator and physical device). On the other hand, it throws and error on Android
*Tns Android version: 6.1.2

### Please, provide the following version numbers that your issue occurs with:
*CLI: 6.1.2

### Please, tell us how

[2019-11-01 20:16] shiv19 commented on #64
Duplicate of #63
@Omar-Al-Ashi can you please try the resolution on #63 and let me know if it works for you?

[2019-11-01 20:16] #64 closed

[2019-11-01 20:18] shiv19 commented on #63
@CoooWeee I'll pack a plugin without that flag and post it here, you can install that and let me know how it goes.

[2019-11-01 20:23] shiv19 commented on #63
[nativescript-imagecropper-2.0.0.tgz.zip](https://github.com/bthurlow/nativescript-imagecropper/files/3799477/nativescript-imagecropper-2.0.0.tgz.zip)

first unzip this file to get `nativescript-imagecropper-2.0.0.tgz`

place this file in the root of your project and run
`tns plugin add ./nativescript-imagecropper-2.0.0.tgz`

you'll have to keep this file in your project so that other devs can ins

[2019-11-05 15:10] Omar-Al-Ashi commented on #64
I have applied the solution in the issue #63, now it builds successfully but whenever I call the plugin I receive this error

` 'No v4 support'
JS: [Error: java.lang.SecurityException: Permission Denial: reading com.android.providers.media.MediaProvider uri content://media/external/images/media from pid=28513, uid=10375 requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()
JS:

[2019-11-05 17:42] shiv19 commented on #64
Looks like you haven't requested for READ_EXTERNAL_STORAGE permission.

android.permission.READ_EXTERNAL_STORAGE

[2019-11-05 18:14] Omar-Al-Ashi commented on #64
I did actually in my AndroidManifest.xml. I tried adding it to the plugin's Manifest as well but didn't work either :/
Btw thank you for your prompt responses.

[2019-11-05 18:20] shiv19 commented on #64
It's not enough to add it, you should request permission from the user
Use something like nativescript-permissions
And request for WRITE_EXTERNAL_STORAGE permission

[2019-11-05 18:58] shiv19 commented on #58
@Sartori-RIA move the call to cropper inside a setTimeout and that should prevent your app from freezing

[2019-11-06 07:43] Omar-Al-Ashi commented on #64
Thank you, it worked 👍🏽I thought it was enough to get the permission in AndroidManifest.
Much appreciated

[2019-11-25 14:11] ParthMaisheri commented on #62
facing the same issue, any solution or work around @jitendraashutec @shiv19 @bthurlow

[2019-11-28 06:00] jitendraashutec commented on #62
@ParthMaisheri

To fix issue  iOS 13 I have changed in image cropper plugin.  In cropper plugin if you visit 'src/imagecropper.ios.ts'  file

I have replaced   below code
` let vc = frame.topmost().ios.controller;
        let page = null;
        while (vc.presentedViewController
            && vc.presentedViewController.viewLoaded) {
            vc = vc.presentedViewController;
            if (!v

[2019-12-17 09:09] ParthMaisheri commented on #58
setTimeout doesn't work for me i tried it , it freeze's for 2 seconds @shiv19 @Sartori-RIA @bthurlow

[2019-12-17 09:11] shiv19 commented on #58
@ParthMaisheri can you share your implementation here so that I can take a look at how you are calling the cropper?

[2019-12-17 09:16] ParthMaisheri commented on #58
**SOURCE:**
`private startSelection(context) {
var ms = (new Date).getMilliseconds;
let that = this;
this.uploadedImage = null;
context
.authorize()
.then(() => {
//  that.postImage = null;
return context.present();
})
.then((selection) => {
that.postImage = that.isSingleMode && selection.length > 0 ? selection[0] : null;
selection.forEach((selected) => {
const ios = selected.ios;
setTimeout(()=>{

[2019-12-17 09:20] ParthMaisheri commented on #58
**SOURCE:**
[code]

[2019-12-17 09:22] shiv19 commented on #58
@ParthMaisheri please move call to the cropper inside setTimeout.
And you'll need a timeout of atleast 250ms

You can remove the outer timeout of 20ms that you have.
That timeout is not required.

[2019-12-17 09:25] ParthMaisheri commented on #58
tried the way too, doesn't work
[code]

[2019-12-17 09:26] shiv19 commented on #58
@ParthMaisheri which version of image cropper are you on?

[2019-12-17 09:29] ParthMaisheri commented on #58
``
  "nativescript-imagecropper": "1.0.7"
``
@shiv19

[2019-12-17 09:32] shiv19 commented on #58
@ParthMaisheri can you try the latest version instead?

[2019-12-17 10:10] ParthMaisheri commented on #58
even after updating it freeze's @shiv19  .
i update is too 2.0.0

[2019-12-17 10:14] shiv19 commented on #58
Ok, please provide a demo app demonstrating the issue, I'll take a look at it tomorrow :)

[2019-12-17 10:15] ParthMaisheri commented on #58
can you help me adding "loading message box", as i cant share the demo app. @shiv19

[2019-12-17 10:35] shiv19 commented on #58
You can use nativescript-loading-indicator plugin to show loading indicator

[2019-12-18 09:22] ParthMaisheri commented on #58
hey @shiv19  i am now facing image pixelation issue.
looking at the code do think the height width given to image cropper is causing image to pixelate.

[2019-12-18 09:25] shiv19 commented on #58
@ParthMaisheri sorry I can't help you unless you send me a demo code base demonstrating the issue you are facing.
Simply complaining about the problem doesn't help in resolving your issue.
Don't get me wrong, I want to help you, but unless I have enough info about the issue, I can't do much about it.
I've been using this plugin in many projects without any issues.

[2019-12-20 10:49] yahyaKacem commented on #63
has a patch been release for this bug?
I'm still having the same error.

[2019-12-30 11:08] Noppey commented on #63
I had this exact problem as well, and your .tgz solves this problem.
Please release the patch.

[2019-12-30 11:51] Noppey commented on #49
My app crashes when I take another picture with nativescript-camera, after cropping the previous picture. I also tried setTimeouts everywhere, no help there.

[2019-12-30 15:41] JWiseCoder commented on #49
@Noppey Can you elaborate on that?  Do you have an example?

[2019-12-30 16:26] Noppey commented on #49
https://github.com/bthurlow/nativescript-imagecropper/blob/master/demo/app/main-view-model.ts

This demo-code broke when I used that in Angular (only changed some deprecated dependencies), after clicking the button for "takepicture" a second time.

When not cropping, taking the picture worked just fine. I don't have an exact reproduction example, as I kept trying to fix it.

[2019-12-30 18:20] shiv19 commented on #49
Ok, after I'm back from holidays, I'll release the pro plugins version of this plugin to this public version. That is stable and I did the support for {N} 6 on it.

In the current public version, it wasn't me who made the upgrade to {N} 6 and as such I haven't been offering support for it lately.

After I release the proplugins verison to public, I'll notify here and from then I'll start supportin

[2019-12-30 18:22] shiv19 commented on #63
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-569754913

[2020-01-05 21:19] shiv19 commented on #49
Update:
v3.0.0 was released now. It matches the Proplugins variant.
Please check the demo app once again to see the proper implementation.

I'm actively using this plugin and have had no issues with it so far.

the setTimeout part here is crucial to make it work on iOS, because the asset won't be immediately ready to be read by the plugin.
https://github.com/bthurlow/nativescript-imagecropper/blob

[2020-01-05 21:20] shiv19 commented on #63
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-570948851

[2020-01-05 21:20] shiv19 commented on #62
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-570948851

[2020-01-05 21:20] shiv19 commented on #58
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-570948851

[2020-01-05 21:21] shiv19 commented on #57
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-570948851

[2020-01-05 21:21] shiv19 commented on #45
https://github.com/bthurlow/nativescript-imagecropper/issues/49#issuecomment-570948851

[2020-01-05 21:21] #45 closed

[2020-01-14 12:41] ParthMaisheri opened #65 "OptionsAndroid issue"
I want to change the compression quality

1st I am not able get OptionsAndroid

`var Imagecropper = require("nativescript-imagecropper").ImageCropper;
var imageCropper = new Imagecropper();

var androidOptions = {
            compressionQuality:10,
            statusBarColor: 'red',
        }
        var options = {
            width:350,
            height:300
        };
  imageCropper

[2020-01-14 12:56] ParthMaisheri commented on #65
@bthurlow @shiv19

[2020-01-20 17:30] ParthMaisheri commented on #65
This is working after update to 3.0.0 and increase the height & width options to HD ratios.
`
var options = {
width:1080,
height:720
};
`

[2020-01-20 17:30] #65 closed

[2020-01-21 11:59] rjbhatt110 commented on #62
Facing same issue in iOS 13 I changed plugin 'src/imagecropper.ios.js' file and

I replaced below code
let vc = frame.topmost().ios.controller; let page = null; while (vc.presentedViewController && vc.presentedViewController.viewLoaded) { vc = vc.presentedViewController; if (!vc.beingDismissed) page = vc; } if (page === null) throw "No page available for modal";
with

const page = topmost().ios.co

[2020-01-21 12:01] shiv19 commented on #62
@rjbhatt110 can you check if image cropper can be opened from inside a modal page with your changes? :)

[2020-01-24 09:30] Mafick opened #66 "Crashes on Android 4.4"
### Which platform(s) does your issue occur on?
- Android
- 4.4 Android versions
- Device: One mini 2 (htc_memul)

### Please, provide the following version numbers that your issue occurs with:

- **CLI**: 6.3.0
- **Cross-platform modules**: 6.3.2
- **Runtime(s)**: 6.3.0
- **Plugin(s)**: nativescript-camera": "^4.5.0, nativescript-imagecropper": "^3.0.0

### Please, tell us how to recreate the iss

[2020-01-24 09:34] shiv19 commented on #66
@mailiam minimum api level for the latest version of this plugin is 21

Older version (1.x) of this plugin did support API 19, but that version doesn't work with {N} 6,
You might want to try other android cropping libs and conditionally use that in case of API 19

[2020-01-24 09:40] Mafick commented on #66
Can you provide another one here? I only found this one.

[2020-01-24 09:41] shiv19 commented on #66
Look for it on Android arsenal

[2020-01-24 10:00] Mafick commented on #66
... not very helpful ...

[2020-01-24 10:07] shiv19 commented on #66
You can use this cropper for ios and android.
Except for android api level below 21

What I'm asking you to do is to look for a android cropping lib on Android arsenal that you can use in android api level 20 and below.

[2020-01-24 10:38] Mafick commented on #66
And how I handle than my ios use cases?

[2020-01-24 10:40] shiv19 commented on #66
This plugin will handle ios and android for you. I'm asking you to use a different lib conditionally just for android api 19.

[2020-02-05 14:56] kriefsacha opened #67 "Not showing on IOS 13.3"
Hi, the image cropper is not showing for me on IOS 13.3. Works on android.

The error messages i have :

package.json :

[code]

Code involded:

[code]

Thank you guys !

[2020-02-05 21:57] shiv19 commented on #67
@kriefsacha thanks for reporting about the deprecated APIs.
Look at the timeout I'm using here,
https://github.com/bthurlow/nativescript-imagecropper/blob/6a25cc459a099a9c89e7ff98fc6fbc17b48a7a40/service-example/image-upload-service.js#L205

Make sure you're using that timeout around your call to the plugin on iOS. It should work after that ^_^

[2020-02-05 21:58] shiv19 commented on #67
I'll release an update to stop using the deprecated APIs soon, and report here :)

[2020-02-05 22:07] kriefsacha commented on #67
@shiv19 i used the timeout as you can see on the code i sent.
So i need to wait ??

[2020-02-05 22:09] shiv19 commented on #67
No, the timeout you need is outside the call to cropper.
Please see the example in the link I've shared.

[2020-02-05 22:24] kriefsacha commented on #67
@shiv19 i'm sorry maybe i dont understand but that's what i did the call of the cropper is in the timeout

l```
et source = new ImageSource();
        source.fromAsset(imageAsset)
          .then((source: ImageSource) => {
            setTimeout(async () => {
              const folderPath: string = knownFolders.documents().path;
              const fileName: string = "test.png";
              con

[2020-02-06 08:31] kriefsacha commented on #67
@shiv19 I looked 100 times at the code you sent, the call to the cropper is inside the timeout as i did. So i already did it. I will for now put that this feature is not available on IOS but if you can please take care of it as soon as you can

[2020-02-06 08:41] shiv19 commented on #67
@kriefsacha the image uploading service example that I've shared in this repo is the exact same that I'm using in a production app. It has been working fine on iOS,

Is it specifically not working only on iOS 13.3 for you?

[2020-02-06 08:42] kriefsacha commented on #67
@shiv19 i don't have a phone with iOS which is under 13.3 so i can't try but i was about to try in couple of hours another time on android.

[2020-02-06 08:44] shiv19 commented on #67
You could try it on a simulator as well,
I'm away from computers till monday, but after that I'll fix the deprecated API issues

[2020-02-06 08:47] kriefsacha commented on #67
How can i try on simulator ? There is no camera on simulators.

[2020-02-06 09:05] shiv19 commented on #67
You could use camera on images from photo library, the service example shows how to choose image from gallery

[2020-02-06 09:06] kriefsacha commented on #67
I don't know when i will be able to do all these changes and test it. I think you'll fix it before i will be able to

[2020-02-06 09:08] shiv19 commented on #67
Okay, I'll get to it soon. Also test it on ios 13.3

You can try installing an app called Grainfather from app store,
Do the registration process and try picking profile picture and using the cropper.
If that works on your phone then this plugin does work on 13.3, else it's broken.
That app is using latest nativescript version and ios runtime.

[2020-02-06 09:14] kriefsacha commented on #67
Okay that's really weird. If you speak about the app Grainfather community it's actually working ..

As you saw on the code i call the crop on the setTimeout so i don't see what's the difference ..

[2020-02-06 09:23] shiv19 commented on #67
Weird, on Monday I'll update the service example that I've shared so that it is more generic and you can plug and play that module. (you can do that even now, if you can remove the dependency of user-service, nativescript-localise and shared/helper, from that file, the rest of the deps should be easy to supply)
Once you add this module to your project you just update the API paths for uploading, a

[2020-02-06 10:06] kriefsacha commented on #67
@shiv19 I really don't understand, i took your service and begin to change to what i need and it seems to work.. But i don't really understand what is the difference with what i did ..

Anyway i'll close it for now, if there is any news i'll keep you in touch here. Keep me in touch also for the deprecated APIs. Thank you very much for your help man !

[2020-02-06 10:06] #67 closed

[2020-04-16 08:19] PetroSutch opened #68 "How to send image use nativescript-background-http ?"
I need to save image to my file serve. How can i do this using plugin nativescript-background-http ?

[2020-04-16 10:12] shiv19 commented on #68
Please take a look at this file
https://github.com/bthurlow/nativescript-imagecropper/blob/master/service-example/image-upload-service.js

it contains an example of how to use this plugin with nativescript-background-http :)

[2020-05-31 17:56] kirtontt opened #69 "Right-hand side of 'instanceof' is not an object"
I have a nativescript-vue (2.5.0) app using tns version 6.5.0. When I add the line "var ImageCropper = require("nativescript-imagecropper").ImageCropper", the app crashes with the output shown below. The app crashes on both Android and iOS.

=================
An uncaught Exception occurred on "main" thread.
Calling js method onViewAttachedToWindow failed
TypeError: Right-hand side of 'instanceof'

[2020-06-02 05:28] RohanPhpDev opened #70 "When i try to use this with image picker the code run fine on android 9 but and in android 10 the source is empty."
I have tried this code in android 9 and its work but in android 10 I log the source and it shows null.

const context = imagepickerModule.create({
    mode: 'single' // allow choosing single image
});
context
    .authorize()
    .then(function() {
        return context.present();
    })
    .then(function(selection) {
        selection.forEach(function(selected) {
            selected.getImageAs

[2020-06-02 05:32] shiv19 commented on #70
@RohanPhpDev
please add this to your AndroidManifest.xml's application tag,
[code]

![image](https://user-images.githubusercontent.com/9407019/83483546-01112680-a4f7-11ea-954c-5b29a7b777f4.png)

[2020-06-02 05:51] RohanPhpDev commented on #70
Thanx shiv19 now its works.

[2020-06-02 05:51] #70 closed

[2020-06-07 15:36] erkanarslan commented on #52
Could you find a solution for this?

[2020-06-07 16:09] erkanarslan commented on #52
I found a solution. Add this to your info.plist file. You can specify as many languages as you want.

[code]

[2020-07-01 12:02] bbroereES commented on #62
It can be opened in a modal page, but does not close correctly in all cases

[2020-07-27 17:15] #66 closed

[2020-07-28 19:58] mrzanirato opened #71 "UI Working but NO Image"
Hello,

the plugin seems to work correctly but I receive some errors and no image in console.log

CONSOLE LOG file: node_modules/@nativescript/core/ui/frame/frame-common.js:581:0: topmost() is deprecated. Use Frame.topmost() instead.
CONSOLE LOG file: node_modules/@nativescript/core/image-source/image-source.ios.js:344:0: fromNativeSource() is deprecated. Use ImageSource constructor instead.
CONSO

[2020-07-29 00:05] shiv19 commented on #71
Hi Marco,
that is the expected log output when you log the response from this plugin.
The image object can't be displayed in the console. And what you've sent there is exactly what is expected to be printed to console.

[2020-07-29 00:08] shiv19 commented on #71
https://github.com/bthurlow/nativescript-imagecropper/blob/master/service-example/image-upload-service.js
this file has a good example of how the response from this plugin can be used.
I'm currently using the exact same code with the latest version of nativescript :)

[2020-07-29 06:54] mrzanirato commented on #71
Thanks for you super fast reply and the great plugin!

[2020-07-29 07:09] mrzanirato commented on #71
I am trying the code you suggested, but I get some errors
Can you help, please?
![Schermata 2020-07-29 alle 09 07 51](https://user-images.githubusercontent.com/61496516/88768315-35156a80-d17b-11ea-9a6b-f906747a84c4.png)

[2020-07-29 07:14] shiv19 commented on #71
since you're using typescript, you'll have to declare those variables outside the constructor before using them.

so below the line `export class ImageUploadService...`
you can add
[code]

[2020-07-29 07:33] mrzanirato commented on #71
Fantastic!
And the last one
![Schermata 2020-07-29 alle 09 31 47](https://user-images.githubusercontent.com/61496516/88770766-94c14500-d17e-11ea-932d-ce6c360befd7.png)

[2020-07-29 07:37] shiv19 commented on #71
![image](https://user-images.githubusercontent.com/9407019/88771054-c95eec00-d1d2-11ea-8226-406a94d8850f.png)
You can see here that I'm unboxing the selection before using it.

looking at your core you're doing `const selection = await ...`

so you can do
[code]

[2020-07-29 10:29] mrzanirato commented on #71
Thanks shiv19, I'm getting closer ... now I can open the gallery, choose an image, crop, and start uploading.
In console log I can see the image name , the folder.
Now I have a problem I think referencing the image reference on page.

I get this error:

CONSOLE LOG file: node_modules/@angular/core/fesm5/core.js:26256:0: TypeError: undefined is not an object (evaluating '_nativescript_core_ui_frame

[2020-07-29 13:42] mrzanirato commented on #71
OK I managed to upload the image on the server.
Now I have to figure out how to reference the image and change the src
shiv19, thanks again for your time, your work and your help!
Marco

[2020-07-30 16:26] mrzanirato commented on #71
It seems that in Angular I can't use getViewById but instead I should use something like

@ViewChild('profilePic',{static: false}) private profilePic: ElementRef

Any suggestion?

Thanks again
Marco

[2020-07-31 02:33] thegarage-dev commented on #69
same error is occurring to me too

[2020-07-31 02:34] Pre22JungMinHur commented on #69
same error occurring to me too

[2020-09-18 17:50] mreall opened #73 ""NativeClass is not defined" error on iOS 14 and NS 7"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
On iOS 14, my app compiles and loads on the emulator, but immediately crashes with the following message:
[code]

### Which platform(s) does your issue occur on?
iOS 14 emulator (iPhone 8)

### Please, provide the following version numbers that your issue occurs with:
- CLI: 7.0.8
- Cross-platform modules: 7.

[2020-09-21 08:58] shiv19 commented on #71
yes you can use view child method and then do something like this.profilePic.nativeElement to access the {N} widget :)

[2020-09-21 09:28] johandrott commented on #73
Got the same error using ns 7 + angular 10

[2020-09-21 10:51] #73 closed

[2020-09-21 10:53] shiv19 commented on #73
@mreall and @johandrott thanks for reporting this issue!
This was due to a missing compiler step in the plugin publishing process.
The new version of this plugin nativescript-imagecropper@4.0.1 will have no reference to `NativeClass`
and you shouldn't see that error anymore.

[2020-09-21 18:21] mreall opened #74 "Crashes when width/height options set on iOS"
### If the demo apps cannot help and there is no issue for your problem, tell us about it
I upgraded to the latest version (4.0.1) and now when I pass in a width and height to the `show()` method per the instructions it throws an error.  Stepping through the debugger, it looks like `UIGraphicsGetImageFromCurrentImageContext()` in imagecropper.ios.js is returning `null`.

Passing a width and height

[2020-09-21 18:34] mreall commented on #74
As a workaround, I resize the image before sending it to the cropper using the ImageAsset object.

[code]

[2020-10-13 16:38] jyotigupta-leidos opened #75 "Cropped Image passing to other API - issues"
I need to use the cropped image for another functionality like- need to pass to Google API for OCR purpose and I am using this code -

this.croppedImage = frameModule.topmost().getViewById("croppedImage");
this.croppedImage.imageSourceModule = args.image;

And I pass this.croppedImage.imageSourceModule to Google API.

and use this.croppedImage for the further purpose but I always see this.croppedI

[2020-12-01 06:37] Gauravkatva commented on #63
Having the same problem, however, if I remove this line `android:requestLegacyExternalStorage="true"` I am getting another build error. Please let me know how can I solve this error.

[2020-12-03 13:53] Slymn10 opened #76 "When is coming new version for N 7 ?"

[2021-10-06 19:10] shiv19 commented on #51
@davecoffin I would suggest wrapping the part where you handle the response from the cropper in a settimeout so that the back transition animation completes.

[2021-10-06 19:18] davecoffin commented on #51
Just tested and it works if I close the modal, then open the image picker, then open the cropper. But thats not ideal...they may still be editing the data while the photo is uploading.

[2021-10-06 19:55] shiv19 commented on #51
@davecoffin this might work for you,
In the plugin's ios code, where we present the view controller, we're setting animated to true.
Try setting that to false in node modules and see if that works 🤔

[2021-10-07 22:29] shiv19 commented on #51
@davecoffin
Yes please do create a PR on this, and let's get this out.
I would also like to know which iOS runtime and @nativescript/core version you are currently using in that project.
So that I can verify the fix on my end and check if there will be any potential problems because of this change.

I'm doing well, hope you are doing well too! Miss you too!

[2021-10-19 22:26] davecoffin commented on #51
Yay thanks @shiv19  Ellie and Noah are jealous btw that Halloween starts for you before them. 🎃

[2021-10-19 22:27] shiv19 commented on #51
Haha, yeah it starts a whole day earlier for me 😁🎃

[2021-10-20 01:45] shiv19 commented on #51
@davecoffin
Have published another version 4.0.3
this fixes an issue where NativeClass was not compiled.